<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <!--dl class="contact-list">
          <dt>{{site.data.t[page.lang].contacto}}:</dt>
          <dd><a href="mailto:{{ site.email }}">{{ site.email }}</a></dd>
        </dl-->
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
		{% for s in site.data.info.social %}
			{% assign txt=s.key %}
			{% if site.data.t[page.lang][s.key] %}
				{% assign txt=site.data.t[page.lang][s.key] %}
			{% endif %}
			<li class="{{s.class}}">
				<a href="{{s.url}}" target="_blank"><img src="{{s.ico}}" alt="{{ txt }}" title="{{ txt }}"/></a>
			</li>
		{% endfor %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <!---p class="text">{{ site.description }}</p-->
      </div>
    </div>

  </div>

</footer>
