<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="shortcut icon" href="/rec/img/favicon.ico" type="image/x-icon"/>

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/custom.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.cleanurl | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />


{% assign array=page.translations %}
{% for post in array %}
  {% if post.url != page.url %}
    <link rel="alternate" hreflang="{{post.lang}}" href="{{post.cleanurl | prepend: site.baseurl | prepend: site.url}}" />
  {% endif %}
{% endfor %}

{% if page.mathjax %}
  <!--script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=MML_HTMLorMML"></script-->
	<script type="text/x-mathjax-config">
	MathJax.Hub.Config({
		jax: ["input/TeX", "output/NativeMML", "output/HTML-CSS"],
		extensions: ["mml2jax.js", "tex2jax.js"],
		TeX: {
			extensions: ["AMSmath.js","AMSsymbols.js","noErrors.js","noUndefined.js"]
		}
	});
	</script>
	<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=default"></script>
{% endif %}

</head>
