<header class="site-header">

  <div class="wrapper">

    <!--a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a-->

    <nav class="breadcrumbs">
		<ul>
			{% if page.ancestors.size == 0 %}
					<li class="home">{{ site.title }}</li>
			{% else %}
				{% for p in page.ancestors %}
					<li class="{{ p.class }}"><a href="{{ p.cleanurl }}">{{ p.title }}</a></li>
				{% endfor %}
			{% endif %}
		</ul>
	</nav>

    <nav class="lang">

    	

		{% assign array=page.translations %}

		<ul title="{{site.data.t[page.lang].otros}}">
			<li><a href="/plus/about"><img src="/rec/img/ico/plus/about.svg" title="About"/></a></li>
			<li><a href="/plus/collaborators"><img src="/rec/img/ico/plus/collaborators.svg" title="Collaborators"/></a></li>
			<li><img src="/rec/img/ico/plus/blank.svg"/></li>
		{% for l in site.data.nav.langs %}
			{% if page.lang == l %}
				<li class="sl"><img alt="{{site.data.t[l].lang}}" title="{{site.data.t[l].lang}}" src="/rec/img/ico/lang/{{l}}.svg"/></li>
			{% else %}
				{% assign aux=array | where:"lang", l %}
				{% if aux[0] %}
					<li><a href="{{aux[0].cleanurl}}" lang="{{l}}" hreflang="{{l}}" title="{{site.data.t[l].lang}}"><img alt="{{site.data.t[l].lang}}" title="{{site.data.t[l].lang}}" src="/rec/img/ico/lang/{{l}}.svg"/></a></li>
				{% else %}
					<li class="no"><img alt="{{site.data.t[l].lang}}" title="{{site.data.t[l].lang}}" src="/rec/img/ico/lang/{{l}}.svg"/></li>
				{% endif %}
			{% endif %}
		{% endfor %}
		</ul>


    </nav>

  </div>

</header>
