{% if page._id %}
	{% if page.type == "posts" %}
		{% assign array=site.posts | where:"_id", page._id %}
	{% elsif page.type == "pages" %}
		{% assign array=site.pages | where:"_id", page._id %}
	{% endif %}
{% endif %}

{% if array %}
<nav class="langs">
	<h3>{{site.data.t[page.lang].otros}}</h3>
	<ul>
{% for post in array %}
  {% if post.lang != page.lang %}
    <li><a lang="{{post.lang}}" hreflang="{{post.lang}}" href="{{post.url}}">{{site.data.t[post.lang].lang}}</a></li>
  {% endif %}
{% endfor %}
   </ul>
</nav>
{% endif %}
